__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
.env
notebooks/
.ipynb_checkpoints/
airflow.db
airflow.db-shm
airflow.db-wal
airflow.cfg
logs/
simple_auth_manager_passwords.json.generated
data/mongo/
data/postgres/
.vscode/
.idea/
.DS_Store
Thumbs.db

tests/
prepare_*.log
.port-forward.pid
